body{
	background-size: 125%;
}

/*planet */

.planet{
	position: absolute;
}


.who{
	width: 180px;
	height: auto;
	left: 188px;
	top: 207px;
}

.skills{
	width: 125px;
	height: auto;
	left: 558px;
	top: 651px;

}

.project{
	width: 155px;
	height: auto;
	left: 955px;
	top: 75px;

}

.credit{
	width: 85px;
	height: auto;
	left: 1255px;
	top: 600px;
}

@media screen and (max-width: 1400px){
	.skills{
		left: 480px;
		top: 651px;
	}
	.project{
		left: 680px;
		top: 75px;
	}
	.credit{
		left: 890px;
		top: 600px;
	}
}

@media screen and (max-width: 1000px){
	.who{
		width: 135px;
		left: 100px;
		top: 207px;
	}
	.skills{
		width: 94px;
		left: 360px;
		top: 651px;
	}
	.project{
		width: 116px;
		left: 480px;
		top: 75px;
	}
	.credit{

		left: 640px;
		top: 600px;
	}
}


/*ring*/

@keyframes baseRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes hoverEffect {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(360deg) scale(1.1);
    }	
}

@keyframes reverseHoverEffect {
    0% { 
		transform: rotate(360deg) scale(1.1); 
	}
    100% { 
		transform: rotate(0deg) scale(1); 
	}
}
.ring {
    position: absolute;
    animation: baseRotation 100s linear infinite;
    transition: transform 0.5s ease-in-out;
}

.planet_and_ring:hover .ring {
    animation: hoverEffect 1.5s ease-in-out forwards;
}

.planet_and_ring .ring.reverse-hover {
    animation: reverseHoverEffect 1.5s ease-in-out forwards;
}

.ring_who{
	width: 230px;
	height: auto;
	left: 165px;
	top: 183px;
}

.ring_skills{
	width: 160px;
	height: auto;
	left: 542px;
	top: 635px;
}

.ring_project{
	width: 195px;
	height: auto;
	left: 935px;
	top: 56px;
}

.ring_credit{
	width: 115px;
	height: auto;
	left: 1240px;
	top: 586px;
}

@media screen and (max-width: 1400px){
	.ring_skills{
		left: 465px;
		top: 638px;
	}
	.ring_project{
		left: 660px;
		top: 56px;
	}
	.ring_credit{
		left: 875px;
		top: 585px;
	}
}

@media screen and (max-width: 1000px){
	.ring_who{
		width: 199px;
		left: 68px;
		top: 177px;
	}
	.ring_skills{
		width: 120px;
		left: 346px;
		top: 638px;
	}
	.ring_project{
		width: 146px;
		left: 465px;
		top: 61px;
	}
	.ring_credit{
		width: 86px;
		left: 629px;
		top: 590px;
	}
}

/*Texte*/

.planet_name{
	color: #F5F5F5;
	text-decoration: none;
}

.text_who{
	position: absolute;
	left: 350px;
	top: 380px;
	border: 3px solid #F5F5F5;
	border-radius: 5px;
	padding: 2px 10px;
	font-size: 20px;
}

.text_skills{
	position: absolute;
	left: 675px;
	top: 750px;
	border: 3px solid #F5F5F5;
	border-radius: 5px;
	padding: 2px 10px;
	font-size: 20px;
}

.text_project{
	position: absolute;
	left: 1100px;
	top: 200px;
	border: 3px solid #F5F5F5;
	border-radius: 5px;
	padding: 2px 10px;
	font-size: 20px;
}

.text_credit{
	position: absolute;
	left: 1340px;
	top: 660px;
	border: 3px solid #F5F5F5;
	border-radius: 5px;
	padding: 2px 10px;
	font-size: 20px;
}

@media screen and (max-width: 1400px){
	.text_skills{
		left: 600px;
		top: 750px;
	}
	.text_project{
		left: 820px;
		top: 200px;
	}
	.text_credit{
		left: 970px;
		top: 660px;
	}
}

@media screen and (max-width: 1000px){
	.text_who{
		left: 250px;
		top: 310px;
	}
	.text_skills{
		left: 460px;
		top: 700px;
	}
	.text_project{
		left: 600px;
		top: 150px;
	}
	.text_credit{
		left: 700px;
		top: 640px;
	}
}

/*Phone_version*/

@media screen and (max-width: 750px){
	body{
		background-size: 400%;
		height: auto;
		overflow-y: scroll;
	}
	.full-height {
		height: 100%;
	}
	.planet{
		position: static;
		width: 150px;
		margin-right: 10px;
	}
	.ring{
		left: -999em;
	}
	.planet_name{
		font-size: 44px;
	}
	.text_who{
		position: static;
	}
	.text_skills{
		position: static;
	}
	.text_project{
		position: static;
	}
	.text_credit{
		position: static;
	}
	.contenair{
		margin-top: 90px;
	}
	.planet_and_ring{
		display: flex;
		flex-direction: row;
		align-items: center;
		border: 3px solid #dba950;
		padding: 10px 30px;
		margin: 0px 20px 30px 20px;

		&:hover{
			transform: scale(1.1);
		}
	}
}

@media screen and (max-width: 588px){
	body{
		background-size: 700%;
	}
	.planet_and_ring{
		flex-direction: column;
		padding-top: 20px;
	}
}

